.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.restaurant-card {
  width: calc(33.333% - 20px);
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.restaurant-card img {
  max-width: 100%;
  height: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
}

.pagination .active {
  font-weight: bold;
  background-color: #007bff;
  color: white;
  border: none;
}
